@import 'reset.css';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background);
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
:root {
  --primary: #7e57c2;
  --primary-light: #b085f5;
  --primary-dark: #4d2c91;
  --on-primary: #fafafa;
  --on-primary-light: #050505;
  --on-primary-dark: #fafafa;
  --secondary: #7e57c2;
  --secondary-light: #b085f5;
  --secondary-dark: #4d2c91;
  --on-secondary: #fafafa;
  --on-secondary-light: #050505;
  --on-secondary-dark: #fafafa;
  --background: #dedede;
  --on-background: #212121;
  --surface: #fafafa;
  --surface-dark: #eeeeee;
  --on-surface: #212121;
  --divider: #bdbdbd;
  --error: #b4004e;
  --warning: #c79a00;
  --success: #338a3e;
}

main.dark {
  --primary: #7e57c2;
  --primary-light: #4d2c91;
  --primary-dark: #b085f5;
  --on-primary: #fafafa;
  --on-primary-light: #fafafa;
  --on-primary-dark: #050505;
  --secondary: #7e57c2;
  --secondary-light: #4d2c91;
  --secondary-dark: #b085f5;
  --on-secondary: #fafafa;
  --on-secondary-light: #fafafa;
  --on-secondary-dark: #050505;
  --background: #212121;
  --on-background: #dedede;
  --surface: #050505;
  --surface-dark: #111111;
  --on-surface: #dedede;
  --divider: #424242;
  --error: #ec407a;
  --warning: #ffca28;
  --success: #66bb6a;
}
